<script type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<div id="phone" phx-hook="Phone" data-number={@number} data-token={@token}>
  <button id="call">Call</button>
  <button id="hangup" class="hangup">
    Hangup
  </button>
</div>
<div id="log"></div>
